[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
x509_extensions     = req_ext
prompt              = no

[ req_distinguished_name ]
C = RU
ST = Buryatia
L = Ulan-Ude
O = NoOrg
OU = NoOU
CN = crmsystem.com
emailAddress = email@example.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = nginx
DNS.2 = dbservice
DNS.3 = auth
DNS.4 = chat_client
DNS.5 = chats
DNS.6 = redis
DNS.7 = email-service
DNS.8 = rabbitmq
DNS.9 = chat-client
DNS.10 = logs
DNS.11 = loki
DNS.12 = grafana
DNS.13 = chats
DNS.14 = localhost
